
body{
    background-image: linear-gradient(to right,#aee0db,#efe4dd);
}
body.html{
    overflow: hidden;
    overflow-x: hidden;
    overflow-wrap: normal;
}
header{
    float: right;
    margin: 0 2%; 
}
ul {
    list-style-type: none;
   
  }

  li {
    display: inline-block;
    padding: 10px;
    position: relative;
  }

  .dropdown1{
    display: none;
    position: absolute;
    min-width: 16px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }

  .dropdown1 a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
  }

  li:hover .dropdown1 {
    display: block;
  }
#search{
    position: absolute;
    margin: 5% 40%;
}
#searchbar{
    border-radius: 5px;
    height: 30px;
    background: transparent;
    margin-bottom: 50px;
}
#catalogue{
    margin: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 30px;
    margin-bottom: 20px;
}
#catalogue img{
    width: 20vw;
    height: 50vh;
}
#catalogue div img{
    border-radius: 100px;
}

#catalogue button {
    position: relative;
    background-color: transparent;
    color: white;
    font:bold;
    
}
#trial{
    display: none;
    position: absolute;
    width: 200px;
    margin: 5% 1%;
    font: bold;
    color: white;
}
#trial1{
    display: none;
    position: absolute;
    width: 200px;
    margin: 5% 45%;
    font: bold;
    color: white;
}

footer{
    position: absolute;
    color: red;
    margin: 0 40%;
    width: 100%;


}
#catalogue #back {
    position: absolute;
    bottom: 20%;
    left: 18%;
    color:yellow;
    display: none;
}
#catalogue #art {
    position: absolute;
    bottom: 20%;
    left: 16%;
    color: black;
    
}
#catalogue #back1 {
    position: absolute;
    bottom: 20%;
    left:60%;
    color:yellow;
    display: none;
}
#catalogue #back2 {
    position: absolute;
    bottom: 20%;
    left:60%;
    color:yellow;
    display: none;
}
#catalogue #back3 {
    position: absolute;
    bottom: -20%;
    left:10%;
    color:yellow;
    display: none;
}
#catalogue #back4 {
    position: absolute;
    bottom: -20%;
    left:60%;
    color:yellow;
    display: none;
}
#catalogue #back5 {
    position: absolute;
    bottom: -20%;
    left:70%;
    color:yellow;
    display: none;
}
#catalogue #back6 {
    position: absolute;
    bottom: -90%;
    left: 20%;
    color:yellow;
    display: none;
}
#catalogue #back7 {
    position: absolute;
    bottom: 20%;
    left:60%;
    color:yellow;
    display: none;
}
#catalogue #art1 {
    position: absolute;
    bottom: 20%;
    left: 45%;
    color: black;
    
}
#catalogue #art2 {
    position: absolute;
    bottom: 20%;
    left: 70%;
    color: black;
    
}
#catalogue #art3 {
    position: absolute;
    bottom: -20%;
    left: 10%;
    color: black;
    
}
#catalogue #art4 {
    position: absolute;
    bottom: -20%;
    left: 70%;
    color: black;
    
}
#catalogue #art5 {
    position: absolute;
    bottom: -20%;
    left: 70%;
    color: black;
    
}
#catalogue #art6 {
    position: absolute;
    bottom: -90%;
    left: 20%;
    color: black;
    
}
#catalogue #art7 {
    position: absolute;
    bottom: 20%;
    left: 60%;
    color: black;
    
}

