body{
  overflow-x: hidden;
  background-image: linear-gradient(to right,lightgreen,lightblue);
}
nav{
    float: right;
    margin: -1% 2%; 
}
header{
    margin: -2% 30%;
    width: 100vw;
    height: 80px;
    
}
ul {
    list-style-type: none;
   
  }

  li {
    display: inline-block;
    padding: 10px;
    position: relative;
  }

  .dropdown1{
    display: none;
    position: absolute;
    min-width: 16px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }

  .dropdown1 a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
  }

  li:hover .dropdown1 {
    display: block;
  }
body{
    counter-reset: Activity;
}

h2{
  margin-top: 30px;
}
h2::before{
    counter-increment: Activity;
    content: "Activity" counter(Activity) ": ";
}
.info{
    position: absolute;
    margin-top: 5%;
    margin-left: 1%;
    width: 320px;
    border-radius: 10px ;
    border: rgb(14, 14, 14);
    border-style:groove;   
}
#images{
  padding-left:20px ;
  margin-left: 25vw;
  margin-top: 5%;
}
#images img{
  border-radius: 10px;
}

footer{
  width: 100vw;
  display: flex;
  margin-top: 40px;
  column-gap: 200px;
  color: whitesmoke;
  background-color: black;
  
 }
#input{
  height: 200px;
  width: 400px;
}
#btn{
  margin-left:110px;
  border-radius: 5px;
  background-color: aquamarine;
  color: black;
  margin-top: 10px;
  width: 150px;
}
#contacts{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
